.aboutcontainer {

    .partone {
        h3 {
            .greenh3;
        }

        p {
            .greenpara;
        }

        img {
            .greenimage;
        }


        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/about/about1.jpg");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 10%;

        @media(max-width: 500px) {
            flex-direction: column;
        }

        @media(max-width: 800px) {
            flex-wrap: wrap;
        }

        .personone {
             .persongreen;

             @media(max-width: 500px) {
                 .personmedia500;
             }
        }

        .persontwo {
            .persongreen;

            @media(max-width: 500px) {
                .personmedia500;
            }
        }

        .personthree {
            .persongreen;

            @media(max-width: 500px) {
                .personmedia500;
            }
        }

    }

    .parttwo {
        h3 {
            color: rgb(50, 50, 50);
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 1px solid rgb(50, 50, 50);;
            margin: 4%;
            padding: 2%;

            @media(max-width: 500px) {
                text-align: center;
            }

            @media(max-width: 800px) {
                text-align: center;
            }
        }

        p {
            color: rgb(50, 50, 50);
            font-weight: bold;
            width: 60%;
            padding: 4%;

            
        }

        img {
            width: 40%;
            border: 4px solid rgb(50, 50, 50);;
            border-radius: 50%;
            transform: scale(1);
	        -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            
            &:hover {
                -webkit-transform: scale(1.3);
	            transform: scale(1.3);
            }            
        }

        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/about/about2.jpg");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        margin: 4% 0;
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 10%;

        @media(max-width: 500px) {
            flex-direction: column;
        }

        @media(max-width: 800px) {
            flex-wrap: wrap;
        }
        
        .personfour {
            .personwhite;

            @media(max-width: 500px) {
                .personmedia500;
            }
        }

        .personfive {
            .personwhite;

            @media(max-width: 500px) {
                .personmedia500;
            }
        }

        .personsix {
            .personwhite;

            @media(max-width: 500px) {
                .personmedia500;
            }
        }

    }

    .partthree {
        h3 {
            .greenh3;
        }

        p {
            .greenpara;
        }

        img {
            .greenimage;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/about/about3.jpg");
        background-repeat: no-repeat, repeat;
        background-size: cover;
        margin: 4% 0;
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 10%;

        @media(max-width: 500px) {
            flex-direction: column;
        }

        @media(max-width: 800px) {
            flex-wrap: wrap;
        }

        .personseven {
            .persongreen;

             @media(max-width: 500px) {
                .personmedia500;
            }
        }

        .personeight {
            .persongreen;

             @media(max-width: 500px) {
                .personmedia500;
            }
        }

        .personnine {
            .persongreen;

            @media(max-width: 500px) {
                .personmedia500;
            }
        }

    }

}