.nav-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    // border: 1px solid black;

    img {
        margin-left: 4%;
    }

    .socialmedia {
        display: flex;
        justify-content: flex-start;

        img {
            width: 100%;
        }
        
        a {
            width: 4%;
        }
    }

    nav {
        width: 30%;
        display: flex;
        justify-content: flex-start;
    }

    nav a{
        text-decoration: none;
        font-size: 1.5rem;
        margin: 2%;
        padding: 2%;
        color: black;

        &:hover {
            color: #008B8B;
        }

    }
}